workflows/ai-personal-assistant-n8n-sanitized.json
{
  "name": "personal assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        2000,
        864
      ],
      "id": "9d075e70-a535-4c56-8c0c-4db70c2ea781",
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.text || '' }}",
        "options": {
          "systemMessage": "=You are a helpful personal assistant that helps users with emails and calendar events via Telegram.\n\nYou have access to these tools:\n- Telegram Message Sender: Send messages back to the user\n- Gmail Tool: Send emails\n- Calendar Event Setter: Create Google Calendar events\n\nIMPORTANT RULES:\n\n1. ALWAYS use the Telegram Message Sender tool to communicate with the user - never just return text.\n\n2. When user requests an action, first check if you have ALL required information:\n   - For emails: recipient email, subject, message content\n   - For calendar events: event title, date, time, duration, attendee email, description\n\n3. If ANY information is missing, use Telegram Message Sender to ask the user for the missing details. Be specific about what you need.\n\n4. Current date/time is {{ $now }}. Use this to calculate dates when user says \"tomorrow\", \"next week\", etc.\n\n5. For calendar events, convert times to ISO 8601 format (YYYY-MM-DDTHH:MM:SS).\n\n6. After completing a task, use Telegram Message Sender to confirm what you did.\n\n7. Be conversational and friendly. Ask clarifying questions when needed.\n\nExample flow:\nUser: \"Schedule a meeting tomorrow\"\nYou (via Telegram): \"I'd be happy to schedule a meeting for tomorrow! Could you provide:\n- What time?\n- How long?\n- Who should I invite (email address)?\n- What's the meeting about (title and description)?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2416,
        864
      ],
      "id": "5f6cd9eb-990d-47b8-bd06-331fd928843e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_SESSION_KEY"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2352,
        1088
      ],
      "id": "2a835f23-2d2a-4b37-885e-ab70ca61e311",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2224,
        1088
      ],
      "id": "4e7be880-71ef-4aa4-b72f-e692f6445f2d",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('recipient_email', 'Email address of the recipient', 'string') }}",
        "subject": "={{ $fromAI('email_subject', 'Subject line for the email', 'string') }}",
        "message": "={{ $fromAI('email_body', 'Body content of the email', 'string') }}",
        "options": {}
      },
      "id": "f07afd56-8185-4b30-8818-99647b39cf47",
      "name": "Gmail sender",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        2480,
        1088
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $fromAI('reply_message', 'Message to send back to the user', 'string') }}",
        "additionalFields": {}
      },
      "id": "1f62298d-75a3-4e5c-af62-4992d19822ac",
      "name": "Telegram message sender",
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        2608,
        1088
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "raaththika10@gmail.com"
        },
        "start": "={{ $fromAI('event_start_time', 'Start date and time in ISO format (YYYY-MM-DDTHH:MM:SS)', 'string') }}",
        "end": "={{ $fromAI('event_end_time', 'End date and time in ISO format (YYYY-MM-DDTHH:MM:SS)', 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI('attendee_email', 'Email address of attendee', 'string') }}"
          ],
          "description": "={{ $fromAI('event_description', 'Description of the event', 'string') }}",
          "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}",
          "summary": "={{ $fromAI('event_title', 'Title/summary of the event', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2736,
        1088
      ],
      "id": "b6647cb1-3867-48a2-8fb4-ba56e7f62f70",
      "name": "Calendar Event Setter"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail sender": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram message sender": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Event Setter": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ab76b1c4-de42-4fc3-ba43-848feda87488",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
